<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>
    <title>AppTitle</title>
</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark  bg-dark">


                <button type=" button" id="btnHome"
                        class="btn btn-light btn-lg">
                    <img src="/images/nav/home.svg" width="40px">
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <div class="col-sm align-self-start">
                                <form class="form-group">
                                    <img src={{{userData.flag}}} id="userFlag">
                                    <img src={{{userData.avatar}}} id="userAvatar">
                                </form>
                            </div>
                        </li>
                        <li class="nav-item">
                            <h1 id="userHandle" class="text-light">{{{userData.username}}}</h1>
                        </li>
                    </ul>
                </div>
                <button type=" button" id="btnSend"
                        class="btn btn-light btn-lg my-2 my-sm-0"
                        data-toggle="modal" data-target="#drawingModalCenter">
                    <img src="/images/nav/arrow.svg" width="40px">
                </button>


        <!-- Modal -->
        <div class="modal text-black" id="drawingModalCenter" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row mx-auto">
                                <div class="col">
                                    <canvas height="300px" width="300px"></canvas>
                                </div>
                                <div id="colorPicker" class="col">
                                    <div class="btn-group-vertical">
                                        <button type="button" id="btnDrawRed"
                                                style="background-color: red"></button>
                                        <button type="button" id="btnDrawOrange"
                                                style="background-color: orange"></button>
                                        <button type="button" id="btnDrawYellow"
                                                style="background-color: yellow"></button>
                                        <button type="button" id="btnDrawGreen"
                                                style="background-color: green"></button>
                                        <button type="button" id="btnDrawLightBlue"
                                                style="background-color: lightblue"></button>
                                        <button type="button" id="btnDrawDarkBlue"
                                                style="background-color: darkblue"></button>
                                        <button type="button" id="btnDrawPink"

                                                style="background-color: pink"></button>
                                        <button type="button" id="btnDrawBlack"
                                                style="background-color: black"></button>
                                        <button type="button" id="btnDrawWhite"
                                                style="background-color: white"></button>
                                    </div>
                                </div>
                                <div class="col align-items-end">
                                    <div class="slider-wrapper">
                                        <input type="range" min="1" max="100" value="50" class="slider" id="penSize">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<body class="text-light bg-light">

<div class="gallery py-5">
    <div class="container">

        <div class="row">
            {{#each userData.drawings}}
                <div class="col-md-3">
                    <div class="card mb-4 box-shadow bg-dark">
                        <img id="galleryThumb" class="card-img-bottom" src={{this.img}}
                             alt="Card image cap">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-center">{{{this.title}}}</h5>
                            <div class="card-text text-center">{{{this.artist}}}</div>
                            <div class="card-text text-center">{{{this.date}}}</div>

                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>
